{% extends "/layout.admin.html.twig" %}
{% block meta_title %}Gestion des bijoux{% endblock %}
{% block content %}
    <div class="dashboard-item">
        <div class="dashboard-item__heading">
            Gestion des bijoux
        </div>
        <div class="dashboard-item__content">
            <form method="POST">
                <table class="dashboard-table">
                    <tbody>
                        {% for item in items %}
                            <tr id="row-{{ loop.index }}">
                                <td class="dashboard-table__image">
                                    <figure>
                                        <img title="Image principale" width="120" src="{{ item.images|first.webPath|imagine_filter('square') }}" alt="{{ item.images|first.alt }}">
                                        <figcaption><input title="Texte alternatif" name="ITEM_{{ item.id }}_FIRST_IMAGE_ALT" type="text" value="{{ item.images|first.alt }}"></figcaption>
                                    </figure>
                                </td>
                                <td>
                                    <label for="ITEM_{{ item.id }}_NAME">Nom</label>
                                    <input id="ITEM_{{ item.id }}_NAME" title="Nom du bijou" name="ITEM_{{ item.id }}_NAME" type="text" value="{{ item.name }}">
                                    <label for="ITEM_{{ item.id }}_REFERENCE">Référence</label>
                                    <input id="ITEM_{{ item.id }}_REFERENCE" title="Référence" name="ITEM_{{ item.id }}_REFERENCE" type="text" value="{{ item.reference }}">
                                </td>
                                <td>
                                    <label for="ITEM_{{ item.id }}_META_DESCRIPTION">Meta description</label>
                                    <textarea id="ITEM_{{ item.id }}_META_DESCRIPTION" title="Meta-description" rows="7" name="ITEM_{{ item.id }}_META_DESCRIPTION">{{ item.metaDescription }}</textarea>
                                </td>
                                <td class="dashboard-table__number">
                                    <label for="ITEM_{{ item.id }}_QUANTITY">Stock</label>
                                    <input id="ITEM_{{ item.id }}_QUANTITY" title="Stock" type="number" name="ITEM_{{ item.id }}_QUANTITY" value="{{ item.quantity }}" min="0">
                                </td>
                                <td class="dashboard-table__number">
                                    <label for="ITEM_{{ item.id }}_PRICE">Prix</label>
                                    <input id="ITEM_{{ item.id }}_PRICE" title="Prix" type="number" name="ITEM_{{ item.id }}_PRICE" value="{{ item.price }}" step="0.01" min="0">
                                </td>
                                <td>
                                    {% if item.customerOrderLines.empty %}
                                        <a class="bt-btn bt-btn--danger" title="Supprimer" href="{{ path('app_admin_item_delete', {'id' : item.id, 'page' : items.currentPage, 'row' : loop.index}) }}" onclick="return confirm('Supprimer définitivement ce bijoux')"><i class="far fa-trash-alt"></i></a>
                                    {% else %}
                                        <a class="bt-btn bt-btn--info" title="Voir les commandes" href="{{ path('app_admin_item_orders', {'id' : item.id}) }}"><i class="fas fa-list"></i></a>
                                    {% endif %}
                                </td>
                                <td><a class="bt-btn bt-btn--info" title="Modifier" href="{{ path('app_admin_item_edit', {'id' : item.id}) }}"><i class="far fa-edit"></i></a></td>
                                <td><button class="bt-btn bt-btn--success" title="Enregistrer" onclick="return confirm('Enregistrer tous les changements?')"><i class="far fa-save"></i></button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
        <div class="dashboard-item__pagination">
            {% if items.hasPreviousPage %}
                <div class="dashboard-item__pagination__prev">
                    <a class="btn bt-btn--info" href="{{ path('app_admin_item_items', {'page': items.currentPage - 1}) }}"><i class="fas fa-chevron-left"></i></a>
                </div>
            {% endif %}
            <div class="dashboard-item__pagination__current">
                {{ items.currentPage }}/{{ items.nbPages }}
            </div>
            {% if items.hasNextPage %}
                <div class="dashboard-item__pagination__next">
                    <a class="btn bt-btn--info" href="{{ path('app_admin_item_items', {'page': items.currentPage + 1}) }}"><i class="fas fa-chevron-right"></i></a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}