{% extends "/layout.admin.html.twig" %}
{% block meta_title %}Commandes liées à {{ item.name }}{% endblock %}
{% block content %}
    <div class="dashboard-item">
        <div class="dashboard-item__heading">
            {{ item.name }}<br>-<br>
            Liste des commandes
        </div>
        <div class="dashboard-item__content">
            <table class="dashboard-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Client</th>
                        <th>Référence</th>
                        <th>Montant</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.orderedAt|date('d/m/Y') }}</td>
                        <td>{{ order.user.username }}</td>
                        <td class="text-right">{{ order.reference }}</td>
                        <td class="text-right">{{ order.total|number_format(2,',') }}€</td>
                        <td class="text-right"><a class="bt-btn bt-btn--info" title="Voir le détail de la commande" target="_blank" href="{{ path('app_user_order', {'reference' : order.reference}) }}"><i class="far fa-eye"></i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}