{% trans_default_domain 'FOSUserBundle' %}

<h1 class="col-12">Connexion</h1>
{% if error %}
    <p class="alert alert-danger col-12">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
{% endif %}
<p class="alert alert-warning col-12">Afin de passer votre commande, vous devez vous identifier.</p>

<div class="col-md-6 pl-md-0">
    <div class="card p-2 mb-2">
        <h4>Me connecter avec mon réseau social:</h4>
        <p>Connectez-vous d'un simple clic en utilisant le réseau social de votre choix:</p>
    </div>
    <a class="btn btn-block btn-social btn-facebook" href="#">
        <i class="fab fa-facebook-f"></i> Se connecter avec Facebook
    </a>
    <a class="btn btn-block btn-social btn-google" href="#">
        <i class="fab fa-google"></i> Se connecter avec Google
    </a>
</div>
<div class="col-md-6 pr-md-0">
    <div class="card p-2 mt-2 mt-md-0">
        <h4>Me connecter avec mes identifiants :</h4>
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="username">{{ 'security.login.username'|trans }}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label" for="password">{{ 'security.login.password'|trans }}</label>
                <div class="col-sm-6">
                    <input class="form-control" type="password" id="password" name="_password" required="required" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <a class="btn btn-secondary" href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a>
                </div>
                <div class="col-sm-6 mt-2 mt-sm-0">
                    <input class="btn btn-belatika-dark float-sm-right" type="submit" value="{{ 'security.login.submit'|trans }}" />
                </div>
            </div>
        </form>
    </div>
</div>
{#
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ "Nom d'utilisateur"|gTrans }}</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />

    <label for="password">{{ "Mot de passe"|gTrans }}</label>
    <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />

    <input class="btn btn-belatika-dark" type="submit" id="_submit" name="_submit" value="{{ "Connexion"|gTrans }}" />
</form>
#}