{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block title %}{{ 'Votre adresse de livraison'|gTrans }}{% endblock %}
{% block head %}
    {{ block('head', 'modules/address/head.html.twig') }}
    <link rel="stylesheet" href="{{ asset('css/disableCart.css') }}">
    <link rel="stylesheet" href="{{ asset('css/validation.css') }}">
{% endblock %}
{% block content %}
    <h1 class="col-12">{{ 'Votre adresse de livraison'|gTrans }}</h1>
    {% include 'modules/address/content.html.twig' with {
        validate : { url : path('app_cart_delivering'), name : 'Valider' },
        back : { url : path('app_cart_show'), name : 'Retour' }
    } %}
{%  endblock %}
{% block javascripts %}
    {{ block('javascripts', 'modules/address/javascripts.html.twig') }}
{% endblock %}