{% if app.request.headers.get('referer') == absolute_url(path('app_cart_show')) or app.request.headers.get('referer') == absolute_url(path('fos_user_security_login')) %}
    {% set referer = path('app_shop_index') %}
{% else %}
    {% set referer = app.request.headers.get('referer') %}
{% endif %}
{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block title %}{{ 'Votre panier'|gTrans }}{% endblock %}
{% block meta_title %}{{ 'Votre panier'|gTrans }}{% endblock %}
{% block head %}
    {{ encore_entry_script_tags('app_cart_index') }}
    <link rel="stylesheet" href="{{ asset('build/app_cart_index.css') }}">
{% endblock %}
{% block content %}
    <div class="container my-3">
        <div class="row pb-5">
            {% if isOrdering %}
                <p class="alert alert-bt-info col-12">{{ 'Vous avez déjà une commande en cours, voulez-vous la finaliser ou l\'annuler?'|gTrans }}</p>
                <div class="col-12 d-flex justify-content-around flex-wrap">
                    <a href="{{ path('app_order_index') }}" class="btn bt-btn--primary">{{ 'Voir et finaliser ma commande en cours'|gTrans }}</a>
                    <a href="#" class="btn bt-btn--secondary">{{ 'Annuler ma commande en cours'|gTrans }}</a>
                </div>
            {% elseif app.session.get('cart')|length > 0 %}
                <div class="p-2 col-12 col-lg-7">
                    <table class="cart-content m-0">
                        <thead>
                            <tr>
                                <th scope="col" colspan="2" class="pl-3">{{ 'Vos articles'|gTrans }}</th>
                                <th scope="col" class="text-center">{{ 'Prix'|gTrans }}</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in app.session.get('cart') %}
                            {% if onSales %}
                                {% set price = item.discountPrice %}
                            {% else %}
                                {% set price = item.price %}
                            {% endif %}
                            <tr class="cart-content__item">
                                <td class="cart-content__item__image">
                                    <a class="text-dark" href="{{ path('app_shop_item', {'customer': item.category.customers, 'category_slug': item.category.slug, 'slug': item.slug}) }}" target="_blank" title="{{ 'Cliquez pour visualiser dans un nouvel onglet.'|gTrans }}">
                                        <img src="{{ item.images|first.webPath|imagine_filter('square') }}" alt="{{ item.images|first.alt }}" />
                                    </a>
                                </td>
                                <td class="cart-content__item__name">
                                    <a class="text-dark" href="{{ path('app_shop_item', {'customer': item.category.customers, 'category_slug': item.category.slug, 'slug': item.slug}) }}" target="_blank" title="{{ 'Cliquez pour visualiser dans un nouvel onglet.'|gTrans }}">
                                        {{ item.name|gTrans }}
                                    </a>
                                </td>
                                <td class="cart-content__item__price">
                                    {{ (price * item.quantity)|number_format(2, ',') }}€
                                </td>
                                <td class="cart-content__item__remove">
                                    <a class="text-dark" href="{{ path('app_cart_remove', {'item_id': item.id, 'quantity': item.quantity}) }}" title="{{ 'Retirer cet article de votre panier.'|gTrans }}"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% if not onSales and gift.valid %}
                            <tr class="cart-content__item">
                                <td class="cart-content__item__image"><i class="fas fa-gifts"></i></td>
                                <td>{{ 'Carte cadeau utilisée'|gTrans }}</td>
                                <td class="cart-content__item__price">-{{ gift.value|number_format(2, ',') }}€</td>
                                <td class="cart-content__item__remove"><a class="text-dark" href="{{ path('app_cart_removegift') }}" title="{{ 'Retirer cette carte cadeau.'|gTrans }}"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        {% endif %}
                        </tbody>
                        <tfoot>
                            <tr class="cart-content__item total">
                                <td colspan="2" class="text-right">Total</td>
                                <td class="cart-content__item__price total">{{ total|number_format(2, ',') }}€</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-12 col-lg-5 p-2 align-self-center">
                    {% if not onSales and not gift.valid %}
                        <form class="d-flex justify-content-between align-items-center" method="post" action="{{ path('app_cart_show') }}">
                            <label for="giftCode" class="m-0">{{ 'Utiliser une carte cadeau:'|gTrans }}</label>
                            <input type='text' name='giftCode' id='giftCode' value='{{ gift.code }}' maxlength='9' size='9' required/>
                            <input type='submit' value='{{ 'Vérifier le code'|gTrans }}' class="btn btn-sm bt-btn--secondary">
                        </form>
                    {% endif %}
                </div>
                <p class="col-12 col-lg-6 text-center">{{ 'T.V.A. non applicable art. 293 B du CGI'|gTrans }}</p>
                <p class="col-12 col-lg-6 text-center">
                    <i title="{{ 'Frais de port offerts pour toute commande et dans le monde entier!'|gTrans }}" class="fas fa-info-circle"></i>
                    {{ 'Belatika vous offre les frais d\'envoi!'|gTrans }}
                </p>
                <div class="col-12 d-flex flex-column flex-sm-row justify-content-between">
                    <a href="{{ referer }}" class="btn btn-sm bt-btn--secondary mb-2 mb-sm-0"><i class="fas fa-arrow-left"></i> {{ 'Continuer mes achats'|gTrans }}</a>
                    <a href="{{ path('app_cart_delivering') }}" class="btn btn-sm bt-btn--primary">{{ 'Valider mon panier'|gTrans }} <i class="fas fa-arrow-right"></i></a>
                </div>
            {% else %}
                <p class='alert alert-bt-info col-12' >{{ 'Votre panier est vide.'|gTrans }}</p>
                <a href="{{ referer }}" class="btn bt-btn--primary">{{ 'Continuer mes achats'|gTrans }}</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
