{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block meta_title %}{{ 'Bijoux fantaisie'|gTrans }}{% endblock %}
{% block head %}
    <link rel="canonical" href="{{ absolute_url(path('app_shop_index')) }}">
    <meta name="description" content="{{ "Bijoux uniques pour des femmes d'exceptions. Découvrez les bijoux de la boutique en ligne de Belatika. Un large choix de boucles d'oreilles, colliers, bagues et bracelets créés avec passion à des prix tous doux."|gTransDB }}">
    {{ encore_entry_script_tags('app_shop_index') }}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ 'Bijoux fantaisie'|gTrans }}">
    <meta property="fb:app_id" content="1293327757393160">
    <meta property="og:description" content="{{ "Bijoux uniques pour des femmes d'exceptions. Découvrez les bijoux de la boutique en ligne de Belatika. Un large choix de boucles d'oreilles, colliers, bagues et bracelets créés avec passion à des prix tous doux."|gTransDB }}">
    <meta property="og:image" content="{{ app.request.getSchemeAndHttpHost() ~ asset('img/resources/open_graph_home.jpg') }}">
    <meta property="og:image:secure_url" content="{{ app.request.getSchemeAndHttpHost() ~ asset('img/resources/open_graph_home.jpg') }}">
{% endblock %}
{% block title %}{{ 'Bijoux'|gTrans }}{% endblock %}
{% block content %}

    <section class="text-center my-4">
        <h2 class="mb-3">{{ 'Un bijou surprise offert!'|gTrans }}</h2>
        <p class="alert alert-bt-primary d-inline-block">{{ 'Pour chaque commande, un bijou surprise vous sera offert'|gTrans }}</p>
    </section>

    <section class="mb-5">
        <h2 class="mb-3">{{ 'Nos coups de coeur'|gTrans }}</h2>
        <div id="carousel" class="slider">
            {% for sliderItem in sliderItems %}
                <div class="slider__item">
{#                    <a href="{{ path('app_shop_item', {'customer' : sliderItem.category.customers, 'category_slug' : sliderItem.category.slug, 'slug' : sliderItem.slug}) }}">#}
                        <img class="img-responsive" src="{{ sliderItem.images|first.webPath|imagine_filter('slide') }}" alt="{{ sliderItem.images|first.alt }}">
{#                    </a>#}
                </div>
            {% endfor %}
        </div>
    </section>

    <hr class="separator">

    <section>
        <h2 class="hidden">{{ 'Les gammes'|gTrans }}</h2>
        <div class="shop-ranges">
            {% for range in ranges %}
                <figure class="ranges-preview">
                    <figcaption class="ranges-preview__figcaption">{{ range.name|gTrans }}</figcaption>
                    <a href="{{ path('app_shop_range', {'slug':range.slug}) }}"><img class="ranges-preview__image" src="{{ asset(range.imageWebPath)|imagine_filter('large') }}" alt="{{ range.name|gTrans }}"></a>
                </figure>
            {% endfor %}
        </div>
    </section>

    <hr class="separator">

    {% if blogArticle %}
        <section class="blog-article">
            <h2>{{ 'Dernier article du blog'|gTrans }}</h2>
            <div class="d-flex justify-content-center">
                <a href="{{ path('app_blog_article', {'slug' : blogArticle.slug}) }}" class="blog-overview__article blog-overview__article--home">
                    <article>
                        <figure class="blog-overview__article__main-image"><img src="{{ asset(blogArticle.mainImage.src) }}" alt="{{ blogArticle.mainImage.alt }}"></figure>
                        <div class="blog-overview__article__date">{{ blogArticle.postedAt|date('d/m/Y') }}</div>
                        <div class="blog-overview__article__summary">
                            <h2 class="blog-overview__article__summary__heading">{{ blogArticle.title|gTrans }}</h2>
                            <p class="blog-overview__article__summary__content">{{ blogArticle.contentPreview|raw|gTransDB }} <small>({{ 'Lire la suite'|gTrans }})</small></p>
                        </div>
                        <div class="blog-overview__article__footer">
                            <span class="blog-overview__article__footer__comments"><i class="far fa-comment"></i> {{ blogArticle.blogComments|length }}</span>
                        </div>
                    </article>
                </a>
            </div>
            <div class="text-center">
                <a class="btn bt-btn--primary" href="{{ path('app_blog_index') }}">~~ {{ 'Lire le blog'|gTrans }} ~~</a>
            </div>
        </section>

        <hr class="separator">
    {% endif %}

    <section class="about">
        <h2>Belatika {{ "bijoux"|gTrans }}</h2>
        <article>
            <p class="about__intro">{{ "Allez à la rencontre de votre for intérieur, communiquez avec la nature, regardez toutes ces merveilles autour de vous et admirez."|gTrans }}</p>
            <figure class="about__image">
                <img src="{{ asset('img/resources/tree.jpg') }}" alt="{{ 'Arbre sous le soleil'|gTrans }}">
            </figure>
            <p class="about__paragraph">{{ "Affirmez votre personnalité, montrez vos émotions en portant des pierres naturelles avec une symbolique qui vous ressemble."|gTrans }}</p>
            <p class="about__paragraph">
                {{ "La signification d’une couleur, d’une forme que la nature vous offre est retransmise dans les bijoux Belatika."|gTrans }}<br>
                {{ "Un bijou imaginé et assemblé à la main. Réalisé en un seul exemplaire. Eh oui, dans cette immensité qu’est l’univers vous êtes une personne unique."|gTrans }}<br>
                {{ "Unique avec vos goûts, vos envies, votre personnalité."|gTrans }}<br>
                {{ "Démarquez-vous en portant ce que vous êtes. Du Sobre, du chic, de l’étincelant, du lumineux, du décalé, de l’extravagance."|gTrans }}<br>
                {{ "Un grand choix de bijoux s’offre à vous sur belatika.com pour être en harmonie avec vous-même."|gTrans }}<br>
                {{ "Découvrez l’univers tout en douceur et proche de vous que propose Belatika."|gTrans }}
            </p>
        </article>
    </section>

    <hr class="separator">
{% endblock %}