{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block meta_title %}{{ 'Créations de bijoux'|gTrans }}{% endblock %}
{% block head %}
    <link rel="canonical" href="{{ absolute_url(path('app_shop_index')) }}">
    <meta name="description" content="{{ "Bijoux uniques pour des femmes d'exceptions. Découvrez les bijoux de la boutique en ligne de Belatika. Un large choix de boucles d'oreilles, colliers, bagues et bracelets créés avec passion à des prix tous doux."|gTransDB }}">
    {{ encore_entry_script_tags('app_shop_index') }}
{% endblock %}
{% block title %}{{ 'Bijoux'|gTrans }}{% endblock %}
{% block content %}
    <section>
        <h2>Les nouveautés</h2>
        <div id="carousel" class="slider">
            {% for sliderItem in sliderItems %}
                <figure class="slider__item"><a href="{{ path('app_shop_item', {'customer' : sliderItem.category.customers, 'category_slug' : sliderItem.category.slug, 'slug' : sliderItem.slug}) }}"><img class="img-responsive" src="{{ sliderItem.images|first.webPath|imagine_filter('slide') }}" alt="{{ sliderItem.images|first.alt }}"></a></figure>
            {% endfor %}
        </div>
    </section>

    <hr>

    <section>
        <h2 class="hidden">Les catégories</h2>
        <div class="shop-subcategories">
            <figure class="category-preview">
                <figcaption class="category-preview__figcaption">Bijoux en argent 925</figcaption>
                <a href="#"><img class="category-preview__image" src="{{ asset('img/resources/categories/argent.jpeg')|imagine_filter('large') }}" alt="Bijoux en argent 925"></a>
            </figure>
            <figure class="category-preview">
                <figcaption class="category-preview__figcaption">Bijoux en gold filled</figcaption>
                <a href="#"><img class="category-preview__image" src="{{ asset('img/resources/categories/gold-filled.jpeg')|imagine_filter('large') }}" alt="Bijoux en gold filled"></a>
            </figure>
            <figure class="category-preview">
                <figcaption class="category-preview__figcaption">Bijoux en acier</figcaption>
                <a href="#"><img class="category-preview__image" src="{{ asset('img/resources/categories/acier.jpeg')|imagine_filter('large') }}" alt="Bijoux en acier inox"></a>
            </figure>
            <figure class="category-preview">
                <figcaption class="category-preview__figcaption">Bijoux en métal et laiton</figcaption>
                <a href="#"><img class="category-preview__image" src="{{ asset('img/resources/categories/laiton-metal.jpeg')|imagine_filter('large') }}" alt="Bijoux en métal et laiton"></a>
            </figure>
        </div>
    </section>

    <hr>

    {% if blogArticle %}
        <section class="blog-article">
            <h2>Dernier article du blog</h2>
            <h3 class="blog-article__title">{{ blogArticle.title }}</h3>
            <div class="sun-editor-editable clearfix">
                {{ blogArticle.content|raw }}
            </div>
            <div class="blog-overview__article__footer">
                <span class="blog-overview__article__footer__comments">
                    <a href="{{ path('app_blog_article', {'slug':blogArticle.slug}) }}">
                        <i class="far fa-comment"></i> {{ blogArticle.blogComments|length }}
                    </a>
                </span>
            </div>
        </section>

        <hr>
    {% endif %}

{% endblock %}