{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block meta_title %}{{ 'Créations de bijoux'|gTrans }}{% endblock %}
{% block head %}
    <link rel="canonical" href="{{ absolute_url(path('app_shop_index')) }}">
    <meta name="description" content="{{ "Bijoux uniques pour des femmes d'exceptions. Découvrez les bijoux de la boutique en ligne de Belatika. Un large choix de boucles d'oreilles, colliers, bagues et bracelets créés avec passion à des prix tous doux."|gTransDB }}">
    {{ encore_entry_script_tags('app_shop_index') }}
{% endblock %}
{% block title %}{{ 'Bijoux'|gTrans }}{% endblock %}
{% block content %}
    <section>
        <h2>Les nouveautés</h2>
        <div id="carousel" class="slider">
            {% for sliderItem in sliderItems %}
                <figure class="slider__item"><a href="{{ path('app_shop_item', {'customer' : sliderItem.category.customers, 'category_slug' : sliderItem.category.slug, 'slug' : sliderItem.slug}) }}"><img class="img-responsive" src="{{ sliderItem.images|first.webPath|imagine_filter('slide') }}" alt="{{ sliderItem.images|first.alt }}"></a></figure>
            {% endfor %}
        </div>
    </section>

    <hr class="separator">

    <section>
        <h2 class="hidden">{{ 'Les gammes'|gTrans }}</h2>
        <div class="shop-ranges">
            {% for range in ranges %}
                <figure class="ranges-preview">
                    <figcaption class="ranges-preview__figcaption">{{ range.name|gTrans }}</figcaption>
                    <a href="{{ path('app_shop_range', {'slug':range.slug}) }}"><img class="ranges-preview__image" src="{{ asset(range.imageWebPath)|imagine_filter('large') }}" alt="{{ range.name|gTrans }}"></a>
                </figure>
            {% endfor %}
        </div>
    </section>

    <hr class="separator">

    {% if blogArticle %}
        <section class="blog-article">
            <h2>Dernier article du blog</h2>
            <h3 class="blog-article__title">{{ blogArticle.title }}</h3>
            <div class="sun-editor-editable clearfix">
                {{ blogArticle.content|raw }}
            </div>
            <div class="blog-overview__article__footer">
                <span class="blog-overview__article__footer__comments">
                    <a href="{{ path('app_blog_article', {'slug':blogArticle.slug}) }}">
                        <i class="far fa-comment"></i> {{ blogArticle.blogComments|length }}
                    </a>
                </span>
            </div>
            <div class="text-center">
                <a class="btn bt-btn--primary" href="{{ path('app_blog_index') }}">~~ {{ 'Lire le blog' }} ~~</a>
            </div>
        </section>

        <hr class="separator">
    {% endif %}

    <section class="about">
        <h2>Belatika bijoux</h2>
        <article>
            <p class="about__intro">{{ "Aller à la rencontre de votre for intérieur, communiquer avec la nature, regarder toutes ces merveilles autour de vous et admirer." }}</p>
            <figure class="about__image">
                <img src="{{ asset('img/resources/tree.jpg') }}" alt="{{ 'Arbre sous le soleil'|gTrans }}">
            </figure>
            <p class="about__paragraph">{{ "Affirmer votre personnalité, montrer vos émotions en portant des pierres naturelles avec une symbolique qui vous ressemble."|gTrans }}</p>
            <p class="about__paragraph">
                {{ "La signification d’une couleur, d’une forme que la nature vous offre est retransmise dans les bijoux Belatika."|gTrans }}<br>
                {{ "Un bijou imaginé et assemblé à la main. Réalisé en un seul exemplaire. Eh oui, dans cette immensité qu’est l’univers vous êtes une personne unique."|gTrans }}<br>
                {{ "Unique avec vos goûts, vos envies, votre personnalité."|gTrans }}<br>
                {{ "Démarquez-vous en portant ce que vous êtes. Du Sobre, du chic, de l’étincelant, du lumineux, du décalée , de l’extravagance."|gTrans }}<br>
                {{ "Un grand choix de bijoux s’offre à vous sur Belatika.com pour être en harmonie avec vous-même."|gTrans }}<br>
                {{ "Découvrez l’univers doucereux et proche de vous que propose Belatika."|gTrans }}
            </p>
        </article>
    </section>

    <hr class="separator">
{% endblock %}