{% extends shop_settings.template ~ "/layout.html.twig" %}
{% set cart = app.session.get('cart') %}
{% block meta_title %}{{ item.name|gTrans }}{% endblock %}
{% block title %}{{ item.name|gTrans }}{% endblock %}
{% block head %}
    <link rel="canonical" href="{{ absolute_url(path('app_shop_item', {'customer' : item.category.customers, 'category_slug' : item.category.slug, 'slug' : item.slug})) }}">
    <meta property="og:url" content="{{ absolute_url(path('app_shop_item', {'customer' : item.category.customers, 'category_slug' : item.category.slug, 'slug' : item.slug})) }}" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ item.name|gTrans|capitalize }}">
    <meta property="fb:app_id" content="1293327757393160">
    <meta property="og:description" content="{{ (item.metaDescription ? item.metaDescription : item.autoMetaDescription(onSales))|gTrans }}">
    <meta property="og:image" content="{{ asset(item.images|first.webPath|imagine_filter('og')) }}">
    <meta property="og:image:secure_url" content="{{ asset(item.images|first.webPath|imagine_filter('og')) }}">
    <meta name="description" content="{{ (item.metaDescription ? item.metaDescription : item.autoMetaDescription(onSales))|gTrans }}">
{% endblock %}
{% block content %}
    <div class="item">
        <div class="item__border"></div>
        <div class="item__content">
            <div class="item__content__description">
                <div class="item__content__description__image">
                    {% if item.images|length == 1 %}
                        <figure>
                            <img src="{{ asset(item.images|first.webPath|imagine_filter('large')) }}" alt="{{ item.images|first.alt }}">
                        </figure>
                    {% else %}
                        {{ include(shop_settings.template ~ '/modules/item-carousel.html.twig') }}
                    {% endif %}
                    <div class="item__content__description__image__share">
                        <a class="btn btn-sm bt-btn--fb" target="_blank" href="{{ facebookShareUrl }}">
                            <i class="fab fa-facebook-f"></i> {{ 'Partager'|gTrans }}
                        </a>
                    </div>
                </div>
                <div class="item__content__description__text">
                    {{ item.description|raw|gTrans }}
                </div>
            </div>
            <div class="item__content__price">
                {% if item.discount and onSales %}
                    <span class="item__content__price__value--discount">-{{ item.discount }}%</span>
                    <span class="item__content__price__value--original">{{ item.price|number_format(2, ',') }}€</span>
                    <span class="item__content__price__value">{{ item.discountPrice|number_format(2, ',') }}€</span>
                {% else %}
                    <span class="item__content__price__value"> {{ item.price|number_format(2, ',') }}€ </span>
                {% endif %}
            </div>
            <div class="item__content__reference">{{ 'Référence'|gTrans }} n°{{ item.reference }}</div>
            <div class="item__content__cart clearfix">
                {% if not item.quantity %}
                    <p>{{ 'Cet article n\'est plus disponible'|gTrans }}</p>
                {% else %}
                    <button
                            id="cart-button-{{ item.id }}"
                            class="bt-btn bt-btn--primary cart-button btn-sm mr-3"
                            data-item_id="{{ item.id }}"
                            data-add_item_url="{{ absolute_url(path('app_cart_add', {'id':item.id})) }}"
                            data-remove_item_url="{{ absolute_url(path('app_cart_remove', {'item_id':item.id})) }}"
                            {% if cart[item.id] is defined %}data-added{% endif %}
                    >
                        <span class="add-item{% if cart[item.id] is defined %} hidden{% endif %}">{{ 'Ajouter au panier'|gTrans }}</span>
                        <span class="remove-item{% if cart[item.id] is not defined %} hidden{% endif %}">{{ 'Retirer du panier'|gTrans }}</span>
                        <i class="fas fa-spinner hidden"></i>
                    </button>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_admin_item_edit', {'id' : item.id}) }}" class="bt-btn bt-btn--primary">Modifier</a>
                {% endif %}
            </div>
        </div>
        <div class="item__border"></div>
    </div>

{% endblock %}