{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block meta_title %}{{ 'Mentions légales'|gTrans }}{% endblock %}
{% block title %}{{ 'Mentions légales'|gTrans }}{% endblock %}
{% block head %}
    <link rel="canonical" href="{{ absolute_url(path('app_shop_legals')) }}">
    <meta name="description" content="{{ "Les mentions légales de la boutique en ligne Belatika bijoux"|gTrans }}">
{% endblock %}
{% block content %}
    <div class="container">
        <h2>{{ 'Données personnelles'|gTrans }}:</h2>
        <p>
            {{ "Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en me faisant parvenir un message par le biais de l’onglet « Contact »."|gTransDB|raw }}
        </p>
        <h2>{{ 'Coordonnées du vendeur'|gTrans }}:</h2>
        <p>
            Mme Isabelle Iparaguirre <br>
            25 rue du tuc <br>
            40090 Saint Perdon <br>
            <br>
            {{ 'Téléphone'|gTrans }}: +33 6 50 27 02 47 <br> <br>
            {{ 'Adresse mail'|gTrans }}: <a class="belatika-link" href="mailto:contact@belatika.com">contact@belatika.com</a>
        </p>
        <h2>{{ 'Auto-entrepreneur'|gTrans }}:</h2>
        <p>
            {{ "Immatriculation au registre des métiers n° 509 865 515 RM 40<br>
siret n° 50986551500043 <br>
<br>
Site hebergé par ionos :<br>
Adresse:"|gTransDB|raw }} 7 place de la gare bp 70109 57200 Sarreguemines cedex<br>
{{ 'Téléphone'|gTrans }}: +33970808911
        </p>
        <h2>Cookies:</h2>
        <p>
            {{ 'Le site belika.com n\'utilise aucun cookie.'|gTrans }}
        </p>
    </div>
{% endblock %}