{% trans_default_domain 'FOSUserBundle' %}

<div class="container my-3">
    <div class="row pb-5">
        <div class="col-md-6 pl-md-0">
            <div class="bloc-belatika rounded p-2 box-shadow my-2 my-md-0">
                <h2><i class="fas fa-user"></i> {{ 'Mes informations'|gTrans }}</h2>
                <p><span class="font-weight-bold">{{ 'profile.show.username'|trans }}:</span> {{ user.username }}</p>
                <p><span class="font-weight-bold">{{ 'profile.show.email'|trans }}:</span> {{ user.email }}</p>
                <p>
                    <label>
                        <input id="toggle-newsletter" data-url="{{ path('app_user_togglenewsletter') }}" type="checkbox" {% if user.newsletter %}checked{% endif %}>
                        <span class="text-secondary">{{ "J'accepte de recevoir des news et des offres commerciales de Belatika par mail"|gTrans }}</span>
                    </label>
                </p>
                <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-info btn-sm">{{ 'Modifier'|gTrans }}</a>
                <a href="{{ path('fos_user_security_logout') }}" class="btn btn-danger btn-sm">{{ 'Deconnexion'|gTrans }}</a>
            </div>
        </div>

        <div class="col-md-6 pr-md-0">
            <div class="bloc-belatika rounded p-2 box-shadow my-2 my-md-0">
                <h2><i class="fas fa-dolly"></i> {{ 'Mes commandes'|gTrans }}</h2>
                {% if user.customerOrders|length > 0 %}
                    <ul>
                        {% for order in user.customerOrders %}
                            {% if order.reference %}
                                <li><a class="text-dark" href="{{ path('app_user_order', {'reference' : order.reference}) }}">{{ order.orderedAt|date('d/m/Y') }} - {{ order.total|number_format(2, ',') }}€</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>{{ 'Aucune commande.'|gTrans }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
