{% trans_default_domain 'FOSUserBundle' %}

<h1 class="col-12">{{ 'Mon compte'|gTrans }}</h1>

<div class="col-md-4 pl-md-0">
    <div class="bloc-belatika rounded p-2">
        <h2><i class="fas fa-user"></i> {{ 'Mes informations'|gTrans }}</h2>
        <p><span class="font-weight-bold">{{ 'profile.show.username'|trans }}:</span> {{ user.realname }}</p>
        <p><span class="font-weight-bold">{{ 'profile.show.email'|trans }}:</span> {{ user.email }}</p>
        {% if not app.user.hasSocial %}
        <a class="btn btn-sm btn-belatika-dark" href="{{ path('fos_user_profile_edit') }}">{{ 'Modifier'|gTrans }}</a>
        {% endif %}
    </div>
</div>

<div class="col-md-4">
    <div class="bloc-belatika rounded p-2">
        <h2><i class="fas fa-shipping-fast"></i> {{ 'Mes adresses'|gTrans }}</h2>
        <a href="{{ path('app_user_address') }}" class="btn btn-sm btn-belatika-dark">{{ 'Gérer mes adresses'|gTrans }}</a>
    </div>
</div>

<div class="col-md-4 pr-md-0">
    <div class="bloc-belatika rounded p-2">
        <h2><i class="fas fa-dolly"></i> {{ 'Mes commandes'|gTrans }}</h2>
    </div>
</div>
