{% trans_default_domain 'FOSUserBundle' %}

<h1 class="col-12">{{ 'Mot de passe perdu'|gTrans }}</h1>
<h2 class="col-12">{{ 'Vous avez perdu votre mot de passe ?'|gTrans }}</h2>
<div class="col-12 alert alert-pink">
    {{ "Complétez le formulaire, un email vous sera envoyé.
    Il contiendra la procédure à suivre pour récupérer votre mot de passe."|gTrans }}
</div>
<div class="col-12">
    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request pb-4">
        <div class="form-group row bloc-belatika-dark rounded">
            <label class="col-sm-12 col-form-label" for="username">{{ 'resetting.request.username'|trans }}</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" id="username" name="username" required="required" />
            </div>
            <div class="col-sm-6">
                <button type="submit" class="btn btn-belatika-dark float-right" >{{ 'resetting.request.submit'|trans }}</button>
            </div>
        </div>
    </form>
</div>

{% if invalid_username is defined %}
    <p class="alert alert-warning col-12">{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
{% endif %}