{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block title %}{{ 'Inscription confirmée'|gTrans }}{% endblock %}
{% block meta_title %}{{ 'Inscription confirmée'|gTrans }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="container my-3">
        <div class="row">
            <p class="col-12 alert alert-bt-info">{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
            {% if targetUrl %}
            <p class="col-12 p-0"><a class="btn bt-btn--primary" href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
            {% else %}
            <p class="col-12 p-0">
                <a class="btn bt-btn--primary" href="{{ path('app_shop_index') }}">{{ 'Revenir à l\'accueil'|gTrans }}</a>
                <a class="btn bt-btn--primary" href="{{ path('fos_user_profile_show') }}">{{ 'Gérer mon profil'|gTrans }}</a>
            </p>
        </div>
    </div>
    {% endif %}
{% endblock content %}
