{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block meta_title %}{{ blogArticle.title|gTrans }}{% endblock %}
{% block head %}
    <meta name="description" content="{{ blogArticle.metaDescription|gTransDB }}">
    {{ encore_entry_script_tags('app_blog_article') }}
{% endblock %}
{% block title %}{{ blogArticle.title|gTrans }}{% endblock %}
{% block content %}
    <div class="blog-article my-5">
        <div class="sun-editor-editable">
            {{ blogArticle.content|raw }}
        </div>
        <div class="blog-article__comments clearfix">
            <h2>{{ 'Commentaires'|gTrans }}</h2>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="blog-article__comment blog-article__comment--new">
                    <div class="blog-article__comment__header">
                        <span class="blog-article__comment__header__username">{{ app.user.username }}</span>:
                    </div>
                    <div id="new-comment-content" class="blog-article__comment__content--editable" contenteditable="true"></div>
                    <button id="new-comment-validate" data-target-url="{{ path('app_blog_commentblogarticle', {'slug' : blogArticle.slug}) }}" class="blog-article__comment__send">Envoyer</button>
                </div>
            {% else %}
                <div class="blog-article__comment blog-article__comment--offline">
                    <a href="{{ path('fos_user_security_login') }}">{{ 'Vous pouvez laisser un commentaire en vous connectant'|gTrans }}</a>
                </div>
            {% endif %}
            {% for comment in blogArticle.blogComments %}
                <div class="blog-article__comment blog-article__comment{% if is_granted('IS_AUTHENTICATED_FULLY') and app.user.id == comment.user.id %}--right{% else %}--left{% endif %}">
                    <div class="blog-article__comment__header">
                        <span class="blog-article__comment__header__date">{{ comment.postedAt|date('d/m/Y H\\hi') }}</span> -
                        <span class="blog-article__comment__header__username">{{ comment.user.username }}</span>:
                    </div>
                    <div class="blog-article__comment__content">
                        {% if is_granted('ROLE_ADMIN') or comment.belongsTo(app.user) %}
                            <span class="blog-comment-delete" data-target-url="{{ url('app_blog_deleteblogcomment', {'id':comment.id}) }}"><i class="far fa-window-close"></i></span>
                        {% endif %}
                        {{ comment.content|gTrans|striptags('<br><a>')|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <a class="btn bt-btn--primary" href="{{ path('app_blog_index') }}">{{ 'Retour au blog'|gTrans }}</a>
    </div>
{% endblock %}