{% set salesCount = getSalesCount() %}
{% set categories = categories() %}
{% set ratings = getRatings() %}
{% set rate = 0 %}
{% for rating in ratings %}
    {% set rate = rate + rating %}
{% endfor %}
{% set rate = rate / ratings|length %}
{% set currentUrl = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
<header id="bt-navbar" class="btheader">
    <div class="btheader__logo">
        {% if currentUrl == path('app_shop_index') %}<h1 class="home">{% endif %}
            <a href="{{ path('app_shop_index') }}">
                <img src="{{ asset('img/resources/brand.png') }}" alt="Logo Belatika">
            </a>
        {% if currentUrl == path('app_shop_index') %}</h1>{% endif %}
    </div>
    {{ include(shop_settings.template ~ '/modules/mainnav.html.twig') }}
    <div class="btbreadcrumb">
        {% if breadcrumb is defined %}
            <span class="btbreadcrumb__head"><a class="bt-underline" href="{{ path('app_shop_index') }}">Accueil</a></span>
            {% for element in breadcrumb %}
                {% if loop.last %}
                    <span class="btbreadcrumb__tail bt-underline current">{{ element.title|gTrans|lower }}</span>
                {% else %}
                    <span class="btbreadcrumb__body">
                        {% if element.url is defined %}<a class="bt-underline" href="{{ element.url }}">{% endif %}
                            {{ element.title|gTrans|lower }}
                        {% if element.url is defined %}</a>{% endif %}
                    </span>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <div class="btheader__tools">
        <div class="btheader__tools__item">
            <form method="POST" action="{{ path('app_shop_search') }}">
                <label id="search-form" for="bt-search" class="bt-search">
                    <span class="sr-only">{{ 'Rechercher sur le site'|gTrans }}</span>
                    <input class="bt-search__input" id="search-input" name="bt-search" type="text">
                    <i title="{{ 'Rechercher'|gTrans }}" id="search-trigger" class="fas fa-search bt-search__button"></i>
                    <button class="sr-only" id="search-button">{{ 'OK'|gTrans }}</button>
                </label>
            </form>
        </div>
        <div class="btheader__tools__item">
            <a title="{{ 'Mon compte'|gTrans }}" href="{{ path('fos_user_profile_show') }}"><i class="fas fa-user"></i></a>
        </div>
        <div
            class="btheader__tools__item navcart {% if not app.session.get('cart')|length %}empty{% endif %}"
            data-quantity="{{ app.session.get('cart')|length }}"
        >
            <a title="{{ 'Panier'|gTrans }}" href="{{ path('app_cart_show') }}" class="navcart__hover"><i class="fas fa-shopping-bag"></i></a href="{{ path('app_cart_show') }}">
            {{ include(shop_settings.template ~ '/modules/cart-hover.html.twig') }}
        </div>
    </div>
</header>
{% if title is defined %}
    <h1 class="heading">{{ title }}</h1>
{% endif %}