{% set salesCount = getSalesCount() %}
{% set ratings = getRatings() %}
{% set rate = 0 %}
{% for rating in ratings %}
    {% set rate = rate + rating %}
{% endfor %}
{% set rate = rate / ratings|length %}

<header class="btheader">
    {{ include(shop_settings.template ~ '/modules/mainnav.html.twig') }}
    <div class="btheader__logo">
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_shop_index') }}">
        {% endif %}
                <img src="{{ asset('img/resources/belatika_logo.png') }}" alt="Logo Belatika">
        {% if is_granted('ROLE_ADMIN') %}
            </a>
        {% endif %}
    </div>
    <div class="btheader__title">
        <h1>{{ title }}</h1>
    </div>
    <div class="btheader__reviews">
        {% if is_granted('ROLE_ADMIN') %}
            <div class="btheader__reviews__sales">{{ salesCount }} {{ 'ventes'|gTrans }}</div>
        {% endif %}
        <div class="btheader__reviews__stars--number">{{ ratings|length }} {{ 'avis'|gTrans }}:</div>
        <div class="btheader__reviews__stars">
            <a href="{{ path('app_shop_avis') }}" title="{{ 'Voir les avis'|gTrans }}">
                {% set stars = 5 %}
                {% for i in range(1, stars) %}
                    {% if rate >= i - 0.25 %}
                        <i class="fas fa-star"></i>
                    {% elseif rate >= i - 0.75 %}
                        <i class="fas fa-star-half-alt"></i>
                    {% else %}
                        <i class="far fa-star"></i>
                    {% endif %}
                {% endfor %}
            </a>
        </div>
    </div>
</header>