{% set categories = categories() %}
{% set cart_total = 0 %}

<nav class="btheader__nav navbar navbar-expand-lg">
    <button class="navbar__item navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavLeftDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="navbar__item navbar__item--search"><i class="fas fa-search"></i></div>
    <div class="navbar__item navbar__item--favorite"><a href="#"><i class="fas fa-heart"></i></a></div>
    <div class="navbar__item navbar__item--profile"><a href="{{ path('fos_user_profile_show') }}"><i class="fas fa-user"></i></a></div>
    <div class="navbar__item navbar__item--cart"><a href="{{ path('app_cart_show') }}"><i class="fas fa-shopping-cart"></i></a></div>
    <div class="collapse navbar-collapse navbar-collapse-absolute" id="navbarNavLeftDropdown">
        <ul class="navbar-nav d-flex justify-content-around w-100">
            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item active">
                    <a class="nav-link pl-3 pl-lg-2" href="{{ path('app_admin_index') }}"><i class="fas fa-home"></i> Admin</a>
                </li>
            {% endif %}
            {% if app.request.requestUri != '/' %}
                <li class="nav-item active">
                    <a class="nav-link pl-3 pl-lg-2" href="{{ path('app_shop_index') }}"><i class="fas fa-home"></i> Accueil</a>
                </li>
            {% endif %}
            <li class="nav-item underline active dropdown">
                <a class="nav-link dropdown-toggle pl-3 pl-lg-2" href="#" id="navbarDropdownWomen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Femme'|gTrans|upper }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownWomen">
                    {% for category in categories %}
                        {% if category.customers == 'femme' %}
                            <a class="dropdown-item" href="{{ path('app_shop_category', {'customer' : category.customers, 'slug' : category.slug}) }}">{{ category.name|gTrans|capitalize }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item active dropdown underline">
                <a class="nav-link dropdown-toggle pl-3 pl-lg-2" href="#" id="navbarDropdownMen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Homme'|gTrans|upper }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMen">
                    {% for category in categories %}
                        {% if category.customers == 'homme' %}
                            <a class="dropdown-item" href="{{ path('app_shop_category', {'customer' : category.customers, 'slug' : category.slug}) }}">{{ category.name|gTrans|capitalize }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link pl-3 pl-lg-2" href="#">{{ 'Cartes cadeaux'|gTrans|upper }}</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link pl-3 pl-lg-2" href="{{ path('app_blog_index') }}">{{ 'Blog'|gTrans|upper }}</a>
            </li>
        </ul>
    </div>
</nav>