{{ form_start(form, {attr: {id: 'addresses-form', class: 'col-12', action: validate.url}}) }}
<div class="row">
{#    <div class="col-12 col-md-6 col-lg-4 bg-belatika text-pink pt-2 rounded">#}
{#        <p>{{ 'Indiquez-moi votre adresse de livraison ci-dessous et cette carte interactive vous aidera à vérifier que l\'adresse est correcte.'|gTrans|capitalize }}</p>#}
{#        <p>{{ 'Ce serait dommage que votre commande n\'arrive pas au bon endroit, ma priorité étant que vous receviez vos achats dans les meilleurs délais et dans les meilleures conditions.'|gTrans|capitalize }}</p>#}
{#        <p>{{ 'Vous pouvez aussi préciser ici une adresse de facturation différente.'|gTrans|capitalize }}</p>#}
{#    </div>#}


{#    <input type="search" id="address-input" placeholder="Addresse">#}
{#    <input type="search" id="zipcode-input" placeholder="Code postal">#}
{#    <input type="search" id="city-input" placeholder="Ville">#}
{#    <input type="search" id="country-input" placeholder="Pays">#}

</div>
<fieldset>
    <div class="form-group row">
        <div class="col-sm-4">
            {{ form_widget(form.firstname, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'|gTrans|capitalize}}) }}
            {{ form_errors(form.firstname) }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.lastname, {'attr': {'class': 'form-control', 'placeholder': 'Nom de famille'|gTrans|capitalize}}) }}
            {{ form_errors(form.lastname) }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'email'|gTrans|capitalize}}) }}
            {{ form_errors(form.email) }}
        </div>
    </div>
    <div class="address-field mt-2">
        {{ form_widget(form.address, {'attr': {
            'class': 'form-control',
            'placeholder': 'Votre adresse'|gTrans|capitalize},
            'data-app-id': env('ALGOLIA_PLACES_ID'),
            'data-app-key': env('ALGOLIA_PLACES_KEY'),
        }) }}
        {{ form_errors(form.address) }}
    </div>
    <div class="address-field mt-2">
        {{ form_widget(form.additional, {'attr': {'class': 'form-control', 'autocomplete': 'no', 'placeholder': 'Votre complément d\'adresse'|gTrans|capitalize}}) }}
        {{ form_errors(form.additional) }}
    </div>
    <div class="form-group row mt-2">
        <div class="col-sm-4">
            {{ form_widget(form.postcode, {'attr': {'class': 'form-control', 'placeholder': 'Code postal'|gTrans|capitalize}}) }}
            {{ form_errors(form.postcode) }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.city, {'attr': {'class': 'form-control', 'placeholder': 'Ville'|gTrans|capitalize}}) }}
            {{ form_errors(form.city) }}
        </div>
        <div class="col-sm-4">
            {{ form_widget(form.country, {'attr': {'class': 'form-control', 'placeholder': 'Pays'|gTrans|capitalize}}) }}
            {{ form_errors(form.country) }}
        </div>
    </div>
</fieldset>
<div class="row mb-5">
    <div class="col-12 d-flex justify-content-between">
        <a href="{{ back.url }}" class="btn bt-btn--secondary">{{ back.name|gTrans|capitalize }}</a>
        <button class="btn bt-btn--primary">{{ validate.name|gTrans|capitalize }}</button>
    </div>
</div>
{{ form_widget(form) }}
{{ form_end(form) }}