{% extends "layout.html.twig" %}
{% block title %}{{ "Conditions d'utlisation du blog"|gTrans }}{% endblock %}
{% block head %}
    <link rel="canonical" href="{{ absolute_url(path('app_shop_bloginfos')) }}">
    <meta name="description" content="{{ "Condition d'utilisation du blog de la boutique en ligne de bijoux Belatika"|gTrans }}">
{% endblock %}
{% block content %}
    <h1 class="col-12">{{ "Conditions d'utlisation du blog"|gTrans }}</h1>
    <h2 class="col-12">{{ "L'utilisateur ne doit pas"|gTrans }}:</h2>
    <ul class="col-12">
        {{ "<li>porter atteinte ou être contraire à l'ordre public, aux bonnes mœurs ou pouvoir heurter la sensibilité des mineurs ;</li>
<li>porter atteinte de quelque manière que ce soit aux droits à la réputation, à la vie privée, à l'image d'un tiers ;</li>
<li>être dénigrant, diffamatoire, porter atteinte à l'image, à la réputation d'une marque ou d'une quelconque personne physique ou morale, de quelque manière que ce soit ;</li>
<li>présenter un caractère pornographique ou pédophile ;</li>
<li>porter atteinte aux droits de propriété intellectuelle de quelque personne que ce soit ;</li>
<li>inciter à la haine, à la violence, au suicide, au racisme, à l'antisémitisme, à la xénophobie, à l'homophobie, faire l'apologie des crimes de guerre ou des crimes contre l'humanité ;</li>
<li>inciter à commettre un crime, un délit ou un acte de terrorisme ;</li>
<li>inciter à la discrimination d'une personne ou d'un groupe de personnes en raison de son appartenance à une ethnie, à une religion, à une race, ou du fait de son orientation sexuelle ou de son handicap ;</li>
<li>conseiller une pratique douteuse ou frauduleuse ;</li>
<li> comprendre de lien hypertexte ou faire la publicité ou la promotion d'une société, d'une marque, d'un site, d'un blog ou d'un forum.</li>
<li>Belatika se réserve le droit de supprimer tout commentaire inapproprié et si nécessaire la suppression du compte d’un utilisateur irrespectueux de ces règles.</li>"|gTransDB|raw }}
    </ul>

{% endblock %}