<form id="addresses-form" class="col-12" method="post" action="{{ validate.url }}">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 bg-belatika text-pink pt-2 rounded">
            <p>{{ 'Indiquez-moi votre adresse de livraison ci-dessous et cette carte interactive vous aidera à vérifier que l\'adresse est correcte.'|gTrans|capitalize }}</p>
            <p>{{ 'Ce serait dommage que votre commande n\'arrive pas au bon endroit, ma priorité étant que vous receviez vos achats dans les meilleurs délais et dans les meilleures conditions.'|gTrans|capitalize }}</p>
            <p>{{ 'Vous pouvez aussi préciser ici une adresse de facturation différente.'|gTrans|capitalize }}</p>
        </div>
        <div class="col-12 col-md-6 col-lg-8 rounded" style="height: 300px;" id="map-container"></div>
    </div>
    <fieldset>
        <legend>{{ 'Choisissez votre adresse de livraison:'|gTrans }}</legend>
        <div class="address-field mt-2">
            <label class="address-label" for="fullAddress-delivery">{{ 'Livraison'|gTrans }}</label>
            <input
                    name="fullAddress-delivery"
                    type="search"
                    id="fullAddress-delivery"
                    class="form-control"
                    placeholder="{{ 'Votre adresse de livraison'|gTrans|capitalize }}"
                    required
                    {% if app.user.deliveryAddress %}value="{{ app.user.deliveryAddress.fullAddress }}"{% endif %}
            >
        </div>
    </fieldset>
    <fieldset>
        <legend>{{ 'Choisissez votre adresse de facturation:'|gTrans }}</legend>
        <div class="address-field">
            <label class="address-label" for="fullAddress-billing">{{ 'Facturation'|gTrans }}</label>
            <input
                    name="fullAddress-billing"
                    type="search"
                    id="fullAddress-billing"
                    class="form-control"
                    placeholder="{{ 'Votre adresse de facturation'|gTrans|capitalize }}"
                    {% if app.user.billingAddress and app.user.deliveryAddress and not app.user.sameAddress %}value="{{ app.user.billingAddress.fullAddress }}"{% endif %}
            >
        </div>
    </fieldset>
    <p id="address-alert" style="display: none"
       class="alert alert-danger col-12">{{ 'Aucune adresse trouvée, merci de vérifier la saisie.'|gTrans|capitalize }}</p>
    <div class="row">
        <input
                class="m-2"
                id="same-address"
                name="same-address"
                type="checkbox"
                {% if not app.user.deliveryAddress or (app.user.sameAddress) %}checked{% endif %}
        >
        <label for="same-address">{{ 'Utiliser la même adresse pour la facturation'|gTrans|capitalize }}</label>
    </div>
    <a href="{{ back.url }}" class="btn btn-sm btn-belatika-dark">{{ back.name|gTrans|capitalize }}</a>
    <button class="btn btn-sm btn-belatika-dark">{{ validate.name|gTrans|capitalize }}</button>
</form>