<footer class="rounded mt-2 bg-belatika col-12">
    <div class="row">
        <div class="col-6 col-md-3">
            <h4 class="text-center">A propos de Belatika:</h4>
            <p class="text-center"><a href='https://belatika.com/web/cgv.pdf' target='_blank' class="belatika-link">-Conditions générales de vente et mentions légales.</a></p>
            <p class="text-center"><a href="mailto:contact@belatika.com" class="belatika-link">contact@belatika.com</a></p>
        </div>
        <div class="col-6 col-md-3">
            <h4 class="text-center">Suivez-moi:</h4>
            <figure class="text-center">
                <a id="facebook-follow" href="https://www.facebook.com/Zazou.belatika" target="_blank" class="belatika-link"><img src="{{ asset('img/ressources/FaceBook.png') }}" alt="Visiter sur Facebook"></a>
                <a href="https://www.instagram.com/belatikabijoux/" target="_blank" class="belatika-link"><img src="{{ asset('img/ressources/instagram.png') }}" alt="Visiter sur Instagram"></a>
            </figure>
        </div>
            <div class="col-6 col-md-3">
            <img src="{{ asset('img/ressources/stripe-logo.png') }}" alt="{{ "Paiments sécurisés par Stripe"|gTrans }}" class="img-fluid" title="{{ "Paiments sécurisés par Stripe"|gTrans }}">
        </div>
        <div class="col-6 col-md-3 logo-paypal">
            <img src="{{ asset('img/ressources/paypal-logo.png') }}" alt="{{ "Paiments sécurisés par Paypal"|gTrans}}" class="img-fluid" title="{{ "Paiments sécurisés par Paypal"|gTrans}}">
        </div>
    </div>
</footer>