<div id="item-carousel" class="carousel slide col-md-6" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for image in item.images %}
        <li data-target="#item-carousel" data-slide-to="{{ loop.index0 }}"{% if loop.first %} class="active"{% endif %}>
            <img class="d-block w-100" src="{% if image.webPath is onDisk %}{{ asset(image.webPath|imagine_filter('icon')) }}{% else %}{{ asset('img/resources/image-not-found.png'|imagine_filter('icon')) }}{% endif %}" alt="{{ image.alt }}">
        </li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for image in item.images %}
        <div class="carousel-item{% if loop.first %} active{% endif %}">
            <img class="d-block w-100 rounded" src="{% if image.webPath is onDisk %}{{ asset(image.webPath|imagine_filter('large')) }}{% else %}{{ asset('img/resources/image-not-found.png'|imagine_filter('large')) }}{% endif %}" alt="{{ image.alt }}">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#item-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#item-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>