<div itemscope itemtype="htpp://schema.org/JewelryStore">
    <h2 class="sr-only" itemprop="brand">{{ 'Bijoux Belatika'|gTrans }}</h2>
    <div class="d-flex justify-content-around justify-content-sm-between flex-wrap">
    {% for item in items %}
        <figure id="item{{item.id}}" class="item-thumbnail {% if item.createdAt|date_modify('+1 week')|date('Ymd') > "now"|date('Ymd') %}new{% endif %}{% if cart[item.id] is defined %} added{% endif %}">
            <a href="{{ path('app_shop_item', {'customer' : item.category.customers, 'category_slug' : item.category.slug, 'slug' : item.slug}) }}">
                <img class="figure-img img-fluid" src="{% if item.images|first.thumbURI is onDisk %}{{ asset(item.images|first.thumbURI) }}{% else %}{{ asset('img/ressources/image-not-found.png') }}{% endif %}" alt="{{ item.images|first.alt }}">
            </a>
            <figcaption class="text-center">
                <p class="item-name">{{item.name|gTrans}}</p>
                {% if item.discount and onSales %}
                    {% set coeff = (100 - item.discount)/100 %}
                    <span class="original-price">{{ item.price|number_format(2, ',') }} €</span> <span class="price">{{ (item.price * coeff)|number_format(2, ',') }} € (-{{ item.discount }}%)</span>
                {% else %}
                    <span class="price ">{{ item.price|number_format(2, ',') }} €</span>
                {% endif %}
            </figcaption>
            <button id="cart-button{{item.id}}" onclick="" class="btn cart-button mt-2 sr-only"><i class="fas fa-shopping-cart"></i> {% if cart[item.id] is not defined %}{{ 'Ajouter au panier'|gTrans }}{% else %}{{ 'Retirer du panier'|gTrans }}{% endif %}</button>
        </figure>
    {% endfor %}
    </div>
</div>