<div class="btnav">
    <div id="navbarToggle" class="btnav__toggle box-shadow"><i class="fas fa-bars"></i></div>
    <div id="navbarContent" class="btnav__content">
        <div id="womanToggle" class="btnav__content__submenu">
            <div class="btnav__content__submenu__title with-submenus">{{ 'Bijoux femme'|gTrans }}</div>
            <div class="btnav__content__submenu__content">
                {% for category in categories %}
                    {% if category.customers == 'femme' %}
                        {% set url = path('app_shop_category', {'customer' : category.customers, 'slug' : category.slug}) %}
                        <div>
                            <a class="bt-underline{% if url == currentUrl %} current{% endif %}" href="{{ url }}">{{ category.name|gTrans|capitalize }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div id="manToggle" class="btnav__content__submenu">
            <div class="btnav__content__submenu__title with-submenus">{{ 'Bijoux homme'|gTrans }}</div>
            <div class="btnav__content__submenu__content">
                {% for category in categories %}
                    {% if category.customers == 'homme' %}
                        {% set url = path('app_shop_category', {'customer' : category.customers, 'slug' : category.slug}) %}
                        <div>
                            <a class="bt-underline{% if url == currentUrl %} current{% endif %}" href="{{ url }}">{{ category.name|gTrans|capitalize }}</a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="btnav__content__submenu">
            <div class="btnav__content__submenu__title">
                <a class="bt-underline{% if path('app_blog_index') == currentUrl %} current{% endif %}" href="{{ path('app_blog_index') }}">{{ 'Blog'|gTrans }}</a>
            </div>
        </div>
    </div>
</div>