{% set categories = categories() %}
<nav class="navbar navbar-expand-lg flex-column flex-lg-row align-content-between belatika-menu bg-belatika mb-sm-4 col-12">
    <button class="navbar-toggler left-toggler" type="button" data-toggle="collapse" data-target="#navbarNavLeftDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavLeftDropdown">
        <ul class="navbar-nav d-flex justify-content-around w-100">
            <li class="nav-item active">
                <a class="nav-link pl-3 pl-lg-0" href="{{ path('app_shop_index') }}"><i class="fas fa-home"></i> {{ 'Accueil'|gTrans }}</a>
            </li>
            <li class="nav-item underline active dropdown">
                <a class="nav-link dropdown-toggle pl-3 pl-lg-0" href="#" id="navbarDropdownWomen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Femme'|gTrans|upper }}
                </a>
                <div class="dropdown-menu bg-belatika" aria-labelledby="navbarDropdownWomen">
                    {% for category in categories %}
                        {% if category.customers == 'femme' %}
                            <a class="dropdown-item" href="{{ path('app_shop_category', {'customer' : category.customers, 'slug' : category.slug}) }}">{{ category.name|gTrans|capitalize }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item active dropdown underline">
                <a class="nav-link dropdown-toggle pl-3 pl-lg-0" href="#" id="navbarDropdownMen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Homme'|gTrans|upper }}
                </a>
                <div class="dropdown-menu bg-belatika" aria-labelledby="navbarDropdownMen">
                    {% for category in categories %}
                        {% if category.customers == 'homme' %}
                            <a class="dropdown-item" href="{{ path('app_shop_category', {'customer' : category.customers, 'slug' : category.slug}) }}">{{ category.name|gTrans|capitalize }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item active underline">
                <a class="nav-link pl-3 pl-lg-0" href="#">{{ 'Cartes cadeaux'|gTrans|upper }}</a>
            </li>
            <li class="nav-item active underline">
                <a class="nav-link pl-3 pl-lg-0" href="#">{{ 'Voir le blog'|gTrans|upper }}</a>
            </li>
            <li class="nav-item active dropdown underline">
                <a class="nav-link dropdown-toggle pl-3 pl-lg-0" href="#" id="navbarDropdownMenuRatings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Avis'|gTrans|upper }}
                </a>
                <div class="dropdown-menu bg-belatika" aria-labelledby="navbarDropdownMenuRatings">
                    TODO : afficher les avis
                </div>
            </li>

        </ul>
    </div>
    <button class="navbar-toggler right-toggler" type="button" data-toggle="collapse" data-target="#navbarNavRightDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-user"></i><i class="fas fa-shopping-cart"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavRightDropdown">
        <ul class="navbar-nav d-flex justify-content-lg-end w-100">
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle menu-user" href="#" id="navbarDropdownUserAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span class="username">{{ app.user.username }}</span>
                    {% else %}
                        <span class="d-lg-none"> {{ 'Mon compte'|gTrans }}</span>
                    {% endif %}
                </a>
                <div class="dropdown-menu bg-belatika" aria-labelledby="navbarDropdownUserAccount">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'Déconnexion'|gTrans }}</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|gTrans }}</a>
                        <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}">{{ 'Créer un compte'|gTrans }}</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link menu-cart" href="#">
                    <i class="fas fa-shopping-cart"></i>
                    <span class="cart-content">{{ 'Panier'|gTrans }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>