{% set categories = categories() %}
{% set cart_total = 0 %}
<nav class="navbar navbar-expand-lg flex-column flex-lg-row align-content-between belatika-menu bg-belatika mb-sm-4 col-12">
    <button class="navbar-toggler left-toggler" type="button" data-toggle="collapse" data-target="#navbarNavLeftDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavLeftDropdown">
        <ul class="navbar-nav d-flex justify-content-around w-100">
            <li class="nav-item active">
                {% if is_granted('ROLE_ADMIN') %}
                    <a class="nav-link pl-3 pl-lg-2" href="{{ path('app_admin_index') }}"><i class="fas fa-home"></i> Admin</a>
                {% else %}
                    <a class="nav-link pl-3 pl-lg-2" href="{{ path('app_shop_index') }}"><i class="fas fa-home"></i> {{ 'Accueil'|gTrans }}</a>
                {% endif %}
            </li>
            <li class="nav-item underline active dropdown">
                <a class="nav-link dropdown-toggle pl-3 pl-lg-2" href="#" id="navbarDropdownWomen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Femme'|gTrans|upper }}
                </a>
                <div class="dropdown-menu bg-belatika" aria-labelledby="navbarDropdownWomen">
                    {% for category in categories %}
                        {% if category.customers == 'femme' %}
                            <a class="dropdown-item" href="{{ path('app_shop_category', {'customer' : category.customers, 'slug' : category.slug}) }}">{{ category.name|gTrans|capitalize }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item active dropdown underline">
                <a class="nav-link dropdown-toggle pl-3 pl-lg-2" href="#" id="navbarDropdownMen" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Homme'|gTrans|upper }}
                </a>
                <div class="dropdown-menu bg-belatika" aria-labelledby="navbarDropdownMen">
                    {% for category in categories %}
                        {% if category.customers == 'homme' %}
                            <a class="dropdown-item" href="{{ path('app_shop_category', {'customer' : category.customers, 'slug' : category.slug}) }}">{{ category.name|gTrans|capitalize }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </li>
            <li class="nav-item active underline">
                <a class="nav-link pl-3 pl-lg-2" href="#">{{ 'Cartes cadeaux'|gTrans|upper }}</a>
            </li>
            <li class="nav-item active underline">
                <a class="nav-link pl-3 pl-lg-2" href="#">{{ 'Voir le blog'|gTrans|upper }}</a>
            </li>
            <li class="nav-item active dropdown underline">
                <a class="nav-link dropdown-toggle pl-3 pl-lg-2" href="#" id="navbarDropdownMenuRatings" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ 'Avis'|gTrans|upper }}
                </a>
                <div class="dropdown-menu bg-belatika" aria-labelledby="navbarDropdownMenuRatings">
                    TODO : afficher les avis
                </div>
            </li>

        </ul>
    </div>
    <button class="navbar-toggler right-toggler" type="button" data-toggle="collapse" data-target="#navbarNavRightDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-user"></i><i class="fas fa-shopping-cart"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavRightDropdown">
        <ul class="navbar-nav d-flex justify-content-lg-end w-100">
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle menu-user" href="#" id="navbarDropdownUserAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <span class="username">{{ app.user.realname }}</span>
                    {% else %}
                        <span class="d-lg-none"> {{ 'Mon compte'|gTrans }}</span>
                    {% endif %}
                </a>
                <div class="dropdown-menu bg-belatika" aria-labelledby="navbarDropdownUserAccount">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">{{ 'Mon compte'|gTrans }}</a>
                        <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">{{ 'Déconnexion'|gTrans }}</a>
                    {% else %}
                        <a class="dropdown-item" href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|gTrans }}</a>
                        <a class="dropdown-item" href="{{ path('fos_user_registration_register') }}">{{ 'Créer un compte'|gTrans }}</a>
                    {% endif %}
                </div>
            </li>
            <li class="nav-item active">
                <div class="nav-link menu-cart">
                    <a href="{{ path('app_cart_show') }}"><i class="fas fa-shopping-cart"></i><span class="d-lg-none text-pink"> {{ 'Panier'|gTrans }}</span></a>
                    <div class="cart-content">
                        <a class="d-none d-lg-block" href="{{ path('app_cart_show') }}">{{ 'Panier'|gTrans }}</a>
                        <span class="notification-badge text-pink" id="cart-item-badge" data-item-count="{{ app.session.get('cart')|length }}"></span>
                        <ul id="cart-item-list" class="bg-belatika">{% for item in app.session.get('cart') %}
                                {% if onSales %}{% set price = item.discountPrice %}{% else %}{% set price = item.price %}{% endif %}
                                {% set cart_total = cart_total + price %}
                                <li class="d-flex align-items-center">
                                    <a class="belatika-link" title="{{ item.name }}" href="{{ path('app_shop_item', {
                                        'category_slug': item.category.slug,
                                        'customer' : item.category.customers,
                                        'slug' : item.slug
                                    }) }}">
                                        <img src="{% if item.images|first.webPath is onDisk %}{{ item.images|first.webPath }}{% else %}{{ asset('img/resources/image-not-found.png') }}{% endif %}" alt="{{ item.images|first.alt }}" width=20>
                                        {{ item.name|trunc }}
                                        <span>{{ price|number_format(2, ',', '') }}€</span>
                                    </a>
                                    <i class="fas fa-times cart-remove" data-cart-button-id="{{ item.id }}" data-remove-url="{{ absolute_url(path('app_cart_remove', {'item_id':item.id})) }}"></i>
                                </li>
                            {% endfor %}{% if app.session.get('cart')|length > 1 %}
                                <li class="d-flex justify-content-between text-pink">
                                    <span class="p-2">{{ 'Total'|gTrans }} :</span>
                                    <span class="p-2">{{ cart_total|number_format(2, ',', '.') }}€</span>
                                </li>
                            {% endif %}</ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>