{% if items.nbPages > 1 %}

    {% if category is defined %}
        {% set category_id = category.id %}
    {% else %}
        {% set category_id = null %}
    {% endif %}

    <nav id="pagination" class="col-12">
        <ul class="pagination my-3">
            {% if items.currentPage > 1 %}
                {% if items.currentPage > 10 %}
                    {% set previous = items.currentPage - 10 %}
                {% else %}
                    {% set previous = 1 %}
                {% endif %}
                <li class="page-item">
                    <a class="page-link d-sm-none d-md-block" href="{{ path(app.request.attributes.get('_route'), {'page': previous, 'category': category_id}) }}" title="Page {{ previous }}"><i class="fas fa-angle-double-left"></i></a>
                </li>
            {% endif %}
            {% for p in range(1, items.nbPages) %}
                {% if p > items.currentPage - 3 and p < items.currentPage + 3 %}
                    <li class="page-item{% if p == items.currentPage %} active{% endif %}">
                        <a class="page-link" href="{{ path(app.request.attributes.get('_route'), {'page': p, 'category': category_id}) }}">{{ p }}</a>
                    </li>
                {% elseif p < 4 or p > items.nbPages - 3 %}
                    <li class="page-item{% if p == items.currentPage %} active{% endif %} d-none d-sm-block">
                        <a class="page-link" href="{{ path(app.request.attributes.get('_route'), {'page': p, 'category': category_id}) }}">{{ p }}</a>
                    </li>
                {% elseif (p == 4 and items.currentPage > 6) or (p == items.nbPages - 3 and items.currentPage < items.nbPages - 3) %}
                    <li class="page-item">
                        <p class="page-link d-none d-sm-block"><i class="fas fa-ellipsis-h"></i></p>
                    </li>
                {% endif %}
            {% endfor %}
            {% if items.currentPage < items.nbPages %}
                {% if items.currentPage + 10 < items.nbPages %}
                    {% set next = items.currentPage + 10 %}
                {% else %}
                    {% set next = items.nbPages %}
                {% endif %}
                <li class="page-item">
                    <a class="page-link d-sm-none d-md-block" href="{{ path(app.request.attributes.get('_route'), {'page': next, 'category': category_id	}) }}" title="Page {{ next }}"><i class="fas fa-angle-double-right"></i></a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endif %}