<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block title %}{% endblock %} - Belatika</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    {{ include('modules/header.html.twig') }}
    <div class="d-flex align-items-start">
        {{ include('modules/sidenav.html.twig') }}
        <div class="belatika-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {{ include('modules/footer.html.twig') }}
</div>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
<script src="{{ asset('js/main.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>