<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}{% endblock %} - Belatika</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"-->
    {% block head %}{% endblock %}
</head>
<body>
<div class="container-fluid">
    {{ include('modules/header.html.twig') }}
    <div class="d-flex">
        {{ include('modules/sidenav.html.twig') }}
        <div class="belatika-content">
            {% block content %}{% endblock %}
        </div>
    </div>
    {{ include('modules/footer.html.twig') }}
</div>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>