{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block meta_title %}Commandes{% endblock %}
{% block title %}Commandes{% endblock %}
{% block content %}
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Ref</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Commande</th>
                    <th>Valider</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.reference }}</td>
                        <td>{{ order.orderedAt|date('d/m/Y H:i') }}</td>
                        <td>{{ (order.total - order.giftValueUsed)|number_format(2, ',') }}€</td>
                        <td><a href="{{ path('app_user_order', {'reference':order.reference}) }}" target="_blank"><i class="fas fa-file-export"></i></a></td>
                        <td>
                            <form action="{{ path('app_admin_sendorder', {'reference':order.reference}) }}" method="POST">
                                <input type="text" name="tracking_number" placeholder="Numéro suivi">
                                <button onclick="return confirm('Envoyer le mail au client?')">Valider</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}