{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block title %}{{ 'Merci pour votre commande'|gTrans }}{% endblock %}
{% block meta_title %}{{ 'Merci pour votre commande'|gTrans }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row pb-5">
            <p class="col-12 alert alert-bt-info my-5">
                {{ "Votre commande est bien prise en compte. Vous n'avez plus qu'à attendre tranquillement les étapes suivantes:"|gTrans }}<br><br>
                {{ "Vous recevrez un premier mail dans quelques minutes vous confirmant que votre commande est validée"|gTrans }}<br><br>
                {{ "Vous recevrez un second mail lorsque votre commande sera confiée aux services de livraison."|gTrans }}
                <a href="{{ path('app_shop_index') }}" class="btn btn-sm bt-btn--primary float-right">{{ 'Accueil'|gTrans }}</a>
            </p>
        </div>
    </div>
{%  endblock %}