{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block title %}{{ 'Payer votre commande'|gTrans }}{% endblock %}
{% block meta_title %}{{ 'Payer votre commande'|gTrans }}{% endblock %}
{% block head %}
    {{ encore_entry_script_tags('app_order_index') }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row pb-5">
            <div class="p-2 col-12 col-lg-7 col-xl-8 align-self-start">
                <table class="table table-responsive bloc-belatika-dark m-0">
                    <thead>
                        <tr>
                            <th scope="col">{{ 'Article'|gTrans }}</th>
                            <th scope="col">{{ 'Référence'|gTrans }}</th>
                            <th scope="col">{{ 'Quantité'|gTrans }}</th>
                            <th scope="col">{{ 'Prix unitaire'|gTrans }}</th>
                            <th scope="col">{{ 'Sous-total'|gTrans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for line in order.customerOrderLines %}
                        <tr>
                            <td data-label="{{ 'Article'|gTrans }}"><img src="{{ line.item.images|first.webPath|imagine_filter('icon') }}" alt="{{ line.item.images|first.alt }}">{{ line.item.name }}</td>
                            <td data-label="{{ 'Référence'|gTrans }}">{{ line.item.reference }}</td>
                            <td data-label="{{ 'Quantité'|gTrans }}">
                                {{ line.quantity }}
                            </td>
                            <td data-label="{{ 'Prix unitaire'|gTrans }}">{{ line.discountPrice|number_format(2, ',') }}€</td>
                            <td data-label="{{ 'Sous-total'|gTrans }}">
                                {{ (line.discountPrice * line.quantity)|number_format(2, ',') }}€
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p class="mt-5">
                    <a href="{{ path('app_order_remove') }}" class="btn btn-sm bt-btn--secondary">{{ 'Annuler cette commande'|gTrans }}</a>
                </p>
            </div>
            <div class="col-12 col-lg-5 col-xl-4 p-2 align-self-start">
                <div class='p-2'>
                    {% if order.giftValueUsed > 0 %}
                        <p class="d-flex justify-content-between">
                            <span>{{ 'Sous-total'|gTrans }} :</span>
                            <span>{{ order.total|number_format(2, ',', ' ') }}€</span>
                        </p>
                        <p class="d-flex justify-content-between">
                            <span>{{ 'Carte cadeau'|gTrans }} :</span>
                            <span>-{{ order.giftValueUsed|number_format(2, ',', ' ') }}€</span>
                        </p>
                    {% endif %}
                    <p class='d-flex justify-content-between'>
                        <span>{{ 'Total'|gTrans }} :</span>
                        <span>{{ (order.total - order.giftValueUsed)|number_format(2, ',') }}€</span>
                    </p>
                    <p><em>{{ 'T.V.A. non applicable art. 293 B du CGI'|gTrans }}</em></p>
                    <p class="d-flex justify-content-between align-items-center">
                        <span>{{ 'Paiement sécurisé'|gTrans }}</span>
                        <span class="flex-1"><img class="img-fluid" src="{{ asset('img/resources/stripe-logo.png') }}" alt="{{ 'Cartes de paiements'|gTrans }}"></span>
                    </p>
                    <p class="alert alert-bt-info">{{ "Pour régler votre commande, vous pouvez renseigner vos informations de carte bancaire ci-dessous. Cette page est sécurisée."|gTrans }} <i class="text-success fas fa-lock"></i></p>
                    <form class="clearfix" action="{{ path('app_payment_stripe') }}" method="post" id="payment-form">
                        <div class="form-group">
                            <div
                                    class="bg-light rounded box-shadow p-2"
                                    id="card-element"
                                    data-public_key="{{ stripe_public_key }}"
                                    data-locale="{{ app.request.locale }}"
                                    data-intent_secret="{{ stripe_intent_secret }}"
                                    data-confirmation_url="{{absolute_url(path('app_order_confirmation')) }}"
                            ></div>
                            <div id="card-errors" role="alert"></div>
                        </div>
                        <button class="btn btn-sm bt-btn--primary float-right"><i class="far fa-credit-card"></i> {{ 'Régler ma commande' }}</button>
                    </form>
                    <div class="my-5">
                        <p>{{ 'Je préfère payer avec un compte Paypal'|gTrans }}: <a href="{{ path('app_payment_paypal') }}" class="btn btn-sm bt-btn--secondary">Paypal</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}