{% extends shop_settings.template ~ "/layout.admin.html.twig" %}
{% block meta_title %}Gestion du blog{% endblock %}
{% block content %}
    <div class="dashboard-item">
        <div class="dashboard-item__heading">
            Articles du blog
        </div>
        <div class="dashboard-item__content">
            <table class="dashboard-table">
                <tbody>
                    <tr>
                        <td colspan="3">Ecrire un nouvel article</td>
                        <td><a class="btn bt-btn--primary" title="Ajouter un article" href="{{ path('app_admin_blog_add') }}"><i class="fas fa-plus"></i></a></td>
                    </tr>
                    {% for blogArticle in blogArticles %}
                        <tr>
                            <td>{{ blogArticle.title }}</td>
                            <td>
                                {% if blogArticle.isPublished %}
                                    <a class="btn bt-btn--success" title="Visible" href="{{ path('app_admin_blog_togglepublished', {'id' : blogArticle.id}) }}"><i class="far fa-eye"></i></a>
                                {% else %}
                                    <a class="btn bt-btn--danger" title="Non visible" href="{{ path('app_admin_blog_togglepublished', {'id' : blogArticle.id}) }}"><i class="far fa-eye-slash"></i></a>
                                {% endif %}
                            </td>
                            <td><a class="btn bt-btn--info" title="Editer" href="{{ path('app_admin_blog_edit', {'id' : blogArticle.id}) }}"><i class="far fa-edit"></i></a></td>
                            <td><a class="btn bt-btn--secondary" title="Supprimer" href="{{ path('app_admin_blog_delete', {'id' : blogArticle.id}) }}" onclick="return confirm('Supprimer définitivement?')"><i class="far fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}