{% extends "mail/layout.html.twig" %}

{% block meta_title %}Nouvelle commande sur belatika.com{% endblock %}
{% block style %}
    .table {
        width: 100%;
    }
    .table tr td {
        padding: 12px 0;
    }
    .table .ref {
        width: 90px;
    }
    .table .img{
        width: 50px;
    }
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
    .total {
        font-weight: bold;
    }
{% endblock %}
{% block title %}Nouvelle commande{% endblock %}
{% block content %}
    <ul>
        <li>Client: {{ order.billingAddress.firstname }} {{ order.billingAddress.lastname }}</li>
        <li>Mail: {{ order.user.email }}</li>
        <li>Adresse de livraison: {{ order.billingAddress.fullAddress }} {{ order.billingAddress.postcode }} {{ order.billingAddress.city }}</li>
    </ul>
    <table class="table">
        <thead>
        <tr>
            <th class="text-left">Référence</th>
            <th class="text-left" colspan="2">Article</th>
            <th class="text-right">Prix</th>
        </tr>
        </thead>
        <tbody>
        {% for line in order.customerOrderLines %}
            <tr>
                <td class="ref">{{ line.item.reference }}</td>
                <td class="img"><img src="{{ line.item.images|first.webPath|imagine_filter('square') }}" alt="{{ line.item.images|first.alt }}"></td>
                <td>{{ line.item.name }}</td>
                <td class="text-right">{{ (line.quantity * line.discountPrice)|number_format(2, ',') }}€</td>
            </tr>
        {% endfor %}
        {% if order.gift and order.giftValueUsed %}
            <tr>
                <td></td>
                <td>Carte Cadeau</td>
                <td class="text-right">-{{ order.giftValueUsed|number_format(2, ',') }}€</td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td class="text-right total">{{ (order.total - order.giftValueUsed)|number_format(2, ',') }}€</td>
        </tr>
        </tfoot>
    </table>
    <p><a href='{{ url('app_user_order', { 'reference' : order.reference }) }}?mode=pdf'>Télécharger la facture</a></p>
{% endblock %}