{% extends "mail/layout.html.twig" %}

{% block meta_title %}{{ 'Envoi de votre commande'|gTrans }}{% endblock %}
{% block style %}
    .table {
        width: 100%;
    }
    .table tr td {
        padding: 12px 0;
    }
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
    .text-center {
        text-align: center;
    }
    .total {
        font-weight: bold;
    }
{% endblock %}
{% block title %}{{ ("Votre commande a été confiée aux services postaux le " ~ order.sentAt|date('d/m/Y \\à H\\hi'))|gTrans }}{% endblock %}
{% block content %}
    <p>
        {{ 'Merci pour votre achat'|gTrans }},<br/>
        {{ 'Belatika vous souhaite bonne réception'|gTrans }}.
    </p>
    {% if order.trackingNumber %}
        <p>{{ "Vous pouvez suivre votre colis à l'aide du numéro suivant :"|gTrans }} <a target="_blank" href="https://www.laposte.fr/outils/suivre-vos-envois?code={{ order.trackingNumber }}">{{ order.trackingNumber }}</a></p>
    {% endif %}
    <p>
        {{ "Lorsque vous aurez reçu votre commande, je vous invite à laisser un avis en cliquant sur le lien suivant :"|gTrans }}<br>
    </p>
    <div class="text-center">
        <a class="btn btn-gold" href='{{ url('app_user_order', { 'reference' : order.reference }) }}' >{{ 'Laisser un avis sur ma commande'|gTrans }}</a>
    </div>
    <h2 class="heading--2">{{ 'Récapitulatif de votre commande'|gTrans }}</h2>
    <table class="table">
        <thead>
        <tr>
            <th class="text-left" colspan="2">{{ 'Article'|gTrans }}</th>
            <th class="text-right">{{ 'Prix'|gTrans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for line in order.customerOrderLines %}
            <tr>
                <td><img src="{{ line.item.images|first.webPath|imagine_filter('icon') }}" alt="{{ line.item.images|first.alt }}"></td>
                <td>{{ line.item.name|gTrans }}</td>
                <td class="text-right">{{ (line.quantity * line.discountPrice)|number_format(2, ',') }}€</td>
            </tr>
        {% endfor %}
        {% if order.gift and order.giftValueUsed %}
            <tr>
                <td></td>
                <td>{{ 'Carte Cadeau'|gTrans }}</td>
                <td class="text-right">-{{ order.giftValueUsed|number_format(2, ',') }}€</td>
            </tr>
        {% endif %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="2">{{ 'Total'|gTrans }}</td>
            <td class="text-right total">{{ (order.total - order.giftValueUsed)|number_format(2, ',') }}€</td>
        </tr>
        </tfoot>
    </table>
    <p><a href='{{ url('app_user_order', { 'reference' : order.reference }) }}?mode=pdf'>{{ 'Télécharger la facture'|gTrans }}</a><br/></p>
{% endblock %}
